.map {
    width: 80%;
    height: 50rem;    
    margin: auto;   
    margin-top: 80px;
    padding: 12px;
    //border: 3px solid grey;  
    
}

.map_comp {
    width: 66%;
    height: 40rem;    
    margin: auto;   
    margin-top: 80px;
    padding: 12px;

}


