.places {
    width: 80%;
    height: 50rem;    
    margin: auto;   
    margin-top: 80px; 
    padding: 12px;
    overflow: auto;
    background: white;  
}

.category {
    background-color: #ededed;  
    padding: 5px;  

}